
<h1 class="title">CallMe</h1>
<h2>ARE YOU TRAVELING AND LOOKING FOR A SERVICE?</h2>
<h2>ARE YOU A FREELANCER AND LOOKING TO OFFER YOUR SERVICES TO OUR COMUNITY?</h2>
<h2>ARE YOU HAVING AN EMERGENCY AND LOOKING FOR SOMEONE TO SOLVE IT?</h2>
 

<h1> Wellcome to CallMe app </h1>

