<br><div class="row">
    <% @user_jobs.uniq.each do |job| %>
        <div class="col-sm-6 col-md-3">
        <div class="thumbnails">
        <%= link_to (image_tag job.image.url(:medium), class: 'image'), job %>
        </div>
        </div>
    <% end %>
    </div>