
category.index

Search 



    <%= form_tag categories_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
    <% end %>


    <table>

    <thead>
    <tr>
    <th>Name</th>
    
    
    </tr>
    </thead>
    


    <tbody>
    <% @categories.each do |c| %>
        <tr>
        <td><%= link_to c.name, jobs_path %>
        </tr>       
    <% end %>

   
    </tbody>
    </table>
    
