show/category
<h1><%= @category.name %> - <%= pluralize(@category.jobss.count, "jobss") %></h1>

<ol>
    <% @category.jobs.each do  |job| %>
      <li><%= link_to job.title, job_path(job)  %></li>
    <% end  %>
</ol>

