<h1>Here are the reviews for <%= @job.title%></h1>



<ul>
  <% @reviews.each do |r|%>
    <li><strong><%= r.description%></strong> <%=r.reviewer.firstName%> says: <%= r.description %>  </li>
  <% end %>
</ul>