<h1>show.reviews</h1>
<strong><h2>Comment:</h2><strong>
<h3><%= @review.description %></h3>
<strong><h2>User:</h2></strong>
<%if @review.user.firstName.blank? %>
<h3> <%= @review.user.email %> </h3>
<% else %>
<h3> <%= @review.user.firstName %> </h3>
<% end %>


